/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handler */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.53);
    border-radius: 20px;
}

/* Handler or Hover */
::-webkit-scrollbar-track:hover {
    background: transparent;
}

/* Estilos para o Chat */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.chat-container {
    overflow-y: auto;
}

.css-1t8x7v1 >.ps-menu-button:hover {
    background-color: transparent !important;
}

.custom-pro-sidebar {
    /* Anule o estilo que estava interferindo */
    width: unset !important;
    min-width: unset !important;
}
