/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handler */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handler or Hover */
::-webkit-scrollbar-track:hover {
    background: #555;
}

/* Estilos para o Chat */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.chat-container {
    overflow-y: auto;
}

/* Estilos para o SideBar */
.sidebar {
    overflow-y: auto;
}
